@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  :root {
    --shiki-token-constant: oklch(53.18% 0.2399 256.9900584162342);
    /* --shiki-token-string: var(--ds-green-900);
    --shiki-token-comment: var(--ds-gray-900);
    --shiki-token-keyword: var(--ds-pink-900);
    --shiki-token-parameter: var(--ds-amber-900);
    --shiki-token-function: var(--ds-purple-900);
    --shiki-token-string-expression: var(--ds-green-900);
    --shiki-token-punctuation: var(--ds-gray-1000);
    --shiki-token-link: var(--ds-green-900); */
  }
}

.prose pre {
  @apply rounded-lg overflow-x-auto px-0 py-5 m-0 bg-white dark:bg-neutral-900;
}

.prose code {
  @apply rounded-lg;
}

.prose code:not(pre > code) {
  @apply border;
}

.prose img {
  @apply m-0;
}

.prose pre .line {
  @apply px-5;
}

.prose pre .line span {
  @apply text-[var(--shiki-light)] dark:text-[var(--shiki-dark)];
}