:root {
  --ns-bg: #ffffff;
  --ns-fg: #24292e;
  --ns-fg-heads: #24292e;
  --ns-logo: #24292e;
  --ns-light: #f5f5f5;
  --ns-light-code: #fafafa;
  --ns-gray: #666666;
  --ns-light-gray: #dedede;
  --ns-selection: rgba(0, 0, 0, 0.99);
  --ns-header: 77px;
  --ns-navbar-link: rgba(0, 0, 0, 0.5);
  --ns-navbar-link-hover: rgba(0, 0, 0, 0.9);
  --ns-footer: 70px;
  --ns-blue-link: #0074de;
  --ns-button-link: #1c1e21;
  --ns-button-link-hover: rgba(28, 30, 33, 0.7);
  --ns-code: #1d1f21;

  /* Fonts */
  --font-sans: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-mono: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;

  /* Shadows and other values */
  --ns-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
}

.dark {
  --ns-bg: #0d1117;
  --ns-fg: #c9d1d9;
  --ns-fg-heads: #ffffff;
  --ns-logo: #ffffff;
  --ns-selection: rgba(255, 255, 255, 0.99);
  --ns-light: #3e4042;
  --ns-navbar-link: rgba(255, 255, 255, 0.5);
  --ns-navbar-link-hover: rgba(255, 255, 255, 0.9);
  --ns-button-link: #ffffff;
  --ns-button-link-hover: rgba(255, 255, 255, 0.7);
  --ns-code: #1a1a1a;
  --ns-blue-link: #58a6ff;
}
