@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .content-pre {
    content: '\`';
  }
  .flex-basis-full {
    flex-basis: 100%;
  }
  .flex-basis-auto {
    flex-basis: auto;
  }
  .collapsing {
    transition: height 350ms ease;
  }
}

@layer base {
  html {
    @apply h-full;
    touch-action: manipulation;
  }
  body {
    @apply min-h-full transition-colors overscroll-auto bg-ns-bg-light dark:bg-ns-bg-dark text-ns-fg-light dark:text-ns-fg-dark;
  }
  h1,
  h2,
  h3 {
    @apply m-0 font-bold;
  }
  p,
  li {
    @apply font-normal;
  }
  p a,
  a {
    @apply outline-none no-underline transition-colors;
  }
  p a:hover,
  p a:focus,
  p a:active,
  a:hover,
  a:focus {
    @apply text-gray-500;
  }
  pre,
  code {
    @apply font-mono;
  }
  a[role='button'] {
    @apply select-none;
  }
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  .post p {
    @apply text-lg mb-6;
  }
  .post > section > p > code {
    @apply whitespace-pre-wrap text-[#f92672] text-[0.9rem] after:content-pre before:content-pre;
  }
  .post pre {
    @apply bg-gray-800 text-gray-50 whitespace-pre overflow-auto p-6 my-10 rounded;
  }
  .post pre code {
    @apply text-sm after:content-none before:content-none;
    border: initial;
  }

  .post section ul {
    @apply mb-8 list-disc list-inside;
  }

  .post section ul li::marker {
  }

  .post section ul li {
    @apply mb-4 text-lg list-item;
  }

  .post section ul li p {
    @apply mb-0 inline;
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: #999;
  }
  .token.punctuation {
    color: #c5c8c6;
  }
  .namespace {
    opacity: 0.7;
  }
  .token.property,
  .token.keyword,
  .token.tag {
    color: #96cbfe;
  }
  .token.class-name {
    color: #ffffb6;
  }
  .token.boolean,
  .token.constant {
    color: #d19a66;
  }
  .token.symbol,
  .token.deleted {
    color: #f92672;
  }
  .token.number {
    color: #ff73fd;
  }
  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: #a8ff60;
  }
  .token.variable {
    color: #c6c5fe;
  }
  .token.operator {
    color: #ededed;
  }
  .token.entity {
    color: #ffffb6;
    cursor: help;
  }
  .token.url {
    color: #96cbfe;
  }
  .language-cxs .token.string,
  .style .token.string {
    color: #87c38a;
  }
  .token.atrule,
  .token.attr-value {
    color: #f9ee98;
  }
  .token.function {
    color: #dad085;
  }
  .token.regex {
    color: #e9c062;
  }
  .token.important {
    color: #fd971f;
  }
  .token.important,
  .token.bold {
    @apply font-bold;
  }

  #nprogress {
    @apply pointer-events-none;
  }
  #nprogress .bar {
    @apply fixed z-[2000] top-0 left-0 w-full h-[2px] bg-ns-fg-light dark:bg-ns-fg-dark;
  }
  #nprogress .peg {
    box-shadow: 0 0 10px var(--ns-fg), 0 0 5px var(--ns-fg);
  }
  .resume {
    @apply text-gray-700 dark:text-gray-200;
  }
}
